@import "../../variables";

#tournaments {
    background: url("../../assets/007.webp") no-repeat fixed;
    background-size: cover;

    .subtitles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid $border;
        margin: 35px 17px;

        .subtitle {
            margin: 0;
            transition: all 0.25s ease 0s;
            text-align: center;
            padding: 0 15px;

            &:hover {
                color: #d99a2b;
                cursor: pointer;
            }

            &.activeLang {
                font-weight: 700;
            }
        }
    }
}

.tournaments {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#tournaments .active h3::after {
    background: #f54d04;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc029", endColorstr="#ddbf66", GradientType=1);
    transition: width 0.4s;
    content: "";
    display: block;
    height: 2px;
    height: 0.13rem;
    margin: 0.63rem auto 0;
    width: 100%;
    position: absolute;
    bottom: -5px;
}

/* ---------------------- */
/*       RESULTATS        */
/* ---------------------- */

.player {
    position: relative;

    img {
        width: 100%;
        margin: 0 0 15px;
        display: block;
        padding: 0.5vh;
        background: #efecdb;
        box-shadow: 0 10px 30px #5f2f1182;

        @media screen and (min-width: $media-queries-tablet) {
            max-width: 230px;
        }
    }

    .playerName {
        writing-mode: vertical-rl;
        text-transform: uppercase;
        text-shadow: 2px 2px 3px black;
        margin: 0;
        color: #fff;
        font-size: 35px;
        position: absolute;
        top: 5px;
        bottom: inherit;
        left: inherit;
        right: 0;
    }

    &.gold {
        img {
            padding: 1vh;
            box-shadow: 0 0 40px rgba(241, 196, 15, 0.6);
        }
    }

    &.silver {
        img {
            box-shadow: 0 0 30px rgba(236, 240, 241, 0.6);
        }
    }

    &.bronze {
        img {
            box-shadow: 0 0 30px rgba(243, 156, 18, 0.6);

        }
    }
}

.player {
    margin: 0 0 75px;

    .playerRank {
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        text-shadow: 2px 2px 7px rgb(0, 0, 0);
        margin: 10px 0;
        -webkit-text-stroke: 2px #fff;
        color: rgb(55, 14, 14);
        position: absolute;
        top: -45px;
        left: 0;
        right: 0;
    }
}

.results {
    .section {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @media screen and (min-width: $media-queries-tablet) {
            flex-direction: row;
        }

        &.champ {
            flex-direction: column;

            @media screen and (min-width: $media-queries-desktop) {
                flex-direction: row;
            }
        }
    }

    .congrats {
        margin-bottom: 90px;
        font-size: 7.5vw;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        @media screen and (min-width: $media-queries-tablet-small) {
            font-size: 4.5vw;
        }

        @media screen and (min-width: $media-queries-tablet) {
            font-size: 3.4vw;
        }

        @media screen and (min-width: $media-queries-desktop) {
            font-size: 2.5vw;
        }
    }
}
